name: Publish Release Artifacts

on:
  release:
    types: [created]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

      - name: Run DataGenera
        run: ./gradlew runDatagen

      - name: Build
        run: ./gradlew build

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            tag_name: ${{ github.event.release.tag_name }}
            name: ${{ github.event.release.tag_name }} 更新
            body: 发布 ${{ github.event.release.tag_name }}
            files: |
              build/libs/*
            generate_notes: true

